<!DOCTYPE html>
<html>
<head>
<title>Pages About</title>
<style>
* {
  box-sizing: border-box;
}

/* Style the header */
header {
  padding: 30px;
  text-align: center;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 1000px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

p  {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
</style>
</head>
<body>
<header>
	<h1>About</h1>
	<%= image_tag 'w3schools.jpg' %>
</header>
<section>
	<nav>
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li>About</li>
		</ul>
	</nav>
	<article>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas ultricies mi eget mauris. Nisi scelerisque eu ultrices vitae auctor eu. Pellentesque id nibh tortor id aliquet. Adipiscing enim eu turpis egestas pretium aenean pharetra. Donec et odio pellentesque diam volutpat commodo sed. Cursus turpis massa tincidunt dui ut ornare lectus sit. Id venenatis a condimentum vitae sapien pellentesque. Pretium quam vulputate dignissim suspendisse in est ante in. Etiam erat velit scelerisque in dictum non consectetur. Molestie nunc non blandit massa enim. In est ante in nibh. Consectetur a erat nam at lectus urna duis convallis. Nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices.</p>
		<p>Malesuada fames ac turpis egestas integer eget. Neque volutpat ac tincidunt vitae semper quis lectus. Maecenas ultricies mi eget mauris pharetra et. Duis at tellus at urna condimentum mattis. Est lorem ipsum dolor sit amet consectetur adipiscing. Laoreet suspendisse interdum consectetur libero id faucibus. Metus dictum at tempor commodo. Turpis in eu mi bibendum neque egestas congue quisque. Quisque non tellus orci ac auctor augue mauris augue neque. Sodales ut eu sem integer vitae justo. Ut pharetra sit amet aliquam id diam. Morbi non arcu risus quis varius.</p>
	</article>
</section>
<footer>
	<h6>footer goes here</h6>
</footer>
</body>
</html>