$navbar-default-bg: #4c78c3;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #d6e3fa;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #d6e3fa;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-color: #89AAE3;
  background-image: asset-url('colorful-pieces-of-chalk.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #4c78c3;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15 px;
}
